<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.3" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.0" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.21.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net452" />
  <package id="SignalX" version="1.0.0-pre" targetFramework="net452" />
  <package id="SignalX.Extensions" version="1.0.1-pre" targetFramework="net452" />
  <package id="SignalX.TestHelper" version="1.0.1-pre" targetFramework="net452" />
</packages>